
#navv a {
	font-family:Helvetica;
	font-size:12px;
	float: left;
	text-decoration: none;
	display: block;
	float: left;
	cursor: pointer;
	height: 27px;
	line-height: 27px;
	padding: 0 11px;
	overflow: hidden;
	margin-left:12px;
	margin-top:5px;
}

#navv a.active {
	height: 32px;
	margin-top:0px;
	line-height: 33px;
}

* html #navv a {
	margin-left:7px;
}

#navv ul li ul li a {
	height: 13px;
	line-height: 13px;
	border-right:none;
	background:none;
	text-indent:3px;
}

#navv li li a{
	background: none;
	font-weight: bold;
	font-size:11px;
	padding: 0;
	padding-top:1px;
}

#navv, #navv ul {
	height:32px;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

#navv ul ul a {
	display: block;
	text-decoration: none;
	width: 198px;
	text-transform: none;	
}

#navv li {
	float: left;
	padding: 0;
	height: 32px;
}

#navv ul li ul li {
	border-bottom:solid 1px #E8E6E6;
	height: 24px;
}

#navv ul li {
	position: relative;
}

#navv ul li {
	background:url(../images/s5_menu_li.png) repeat-x bottom center;
}

#navv li:hover, #navv li.sfhover {
	color:#FFFFFF;
	background:url(../images/s5_menu_li_hover.png) repeat-x bottom center;
}

#navv a:hover, #navv a.sfhover {
	text-decoration:underline;
	}

#navv li li:hover, #navv li li.sfhover {
background:none;
}

#navv li ul {
	z-index: 3;
	top: 32px;
	position: absolute;
	left: -999em;
	height: auto;
	width: 215px;
	font-weight: normal;
	border-width: 0;
	margin: 0;
	padding: 0;
}
	
#navv ul {
	padding: 0;
	margin: 0;
}

#navv li li {
	float: left;
	padding: 0;
 	width: 215px;
}

#navv li ul ul {
	margin: -33px 0 0 215px;
}

#navv li:hover ul ul, 
#navv li:hover ul ul ul,
#navv li:hover ul ul ul ul,  
#navv li.sfhover ul ul, 
#navv li.sfhover ul ul ul, 
#navv li.sfhover ul ul ul ul {
	position:absolute;
	left: -999em;
	z-index:2;
}

#navv li:hover ul, 
#navv li li:hover ul, 
#navv li li li:hover ul, 
#navv li li li li:hover ul,
#navv li.sfhover ul, 
#navv li li.sfhover ul, 
#navv li li li.sfhover ul,
#navv li li li li.sfhover ul{
	position:absolute;
	z-index: 2;
	left: 0;
}

#navv li:hover, #navv li.sfhover {
	position:relative;
	z-index: 2;
	left: 0;  
}

#navv ul ul {	
	border-left:1px solid #C9C7C7;
	border-right:1px solid #C9C7C7;
	border-bottom:1px solid #C9C7C7;
	border-top:1px solid #C9C7C7;
	border-width:1px 1px 1px 1px; 
}

#navv li:hover ul, #navv li.sfhover ul {
	left: 0;
	background-position: 0 0;
}

#navv ul li ul li, #navv ul li ul li {
	color:#000000;
}

#navv ul li a.parent, #navv ul li a.parent:hover {
	height:17px;
	background:url(../images/s5_menu_parent.gif) no-repeat top right;
}

.s5_menu_grad {
background:#FFFFFF url(../images/s5_menu_grad.png) repeat-x top center;
}